pagehead
{
	display: block;
	background: #6aa9bd;
	height: 188px;
	color: black;
	margin-top: -8px;
	margin-right: -8px;
	margin-left: 2px;
	margin-bottom: -55px;
	padding: 2px;
	width:100%;
}

TABLE.t-data-grid
{
	 overflow: scroll;
}

TABLE.t-data-grid THEAD TR TH
{
	background: #333333;
	
}
TABLE.t-data-grid TD
{
	text-align: center;	
}

#banner
{
	display: block;
	width:900px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 10px;
	padding: 0;
}

div .textarea
{
	width: 500px;
	height: 200px;
}
#administration-menu{
	
	float: inherit;
	padding-bottom: 10;
	margin-left: 8;
	
}
#publicballotszoneid
{
	margin-top: 20px;
	
}

label .contactrow
{
	display: block;
	padding-top: 10px;
}


#contact
{
	margin-top: 10px;
	padding-left: 20px;
}
#boton-enviar{
	left: 100px;
	position: absolute;
	
}

#footer {
 clear: both;
 position: relative;
 z-index: 10;
 height: 65px;
 margin-top: -3em;
 margin-left: -8px;
 margin-right: -8px;
 background: #B91A1F;
 text-align: center;
 color: white;
 font-weight: bold;
}

body > #container { 
	height: auto; 
	min-height: 100%;
	width:100%;
}

boldstuff
{
	font-weight: bold;
	
}

div#letterSize
{
	display: inline;
	padding: 2px 20px 2px;
	margin-right:3px;
	margin-top: -10px;
	cursor:pointer;

}

div#letterSize>img {

width:20px;
}
div#letterSizeLess
{
	display: inline;
	padding: 2px 0px 2px;
	margin-right:3px;
	margin-top: -10px;
	cursor:pointer;

}

div#letterSizeLess>img {

width:20px;
}

div#lenguages
{
	display: inline;
	padding: 2px 6px 2px;
	margin-right:3px;
	margin-top: -10px;
	float: right;
}
div#lenguages>a>img {
border: solid 1px;
border-color: black
}
div#lenguages>a>span{
	color:black;
}
div#lenguages>a{
	text-decoration:none;
}
.methodtext
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12pt;
	margin-top: 10px;
	margin-bottom:-3px;
	text-align: justify;
}

.areaText
{
	margin: 2px;
	width: 500px;
	height: 110px;
}

.error
{
	display: block;
	color: red;
	font-weight: bold;
	margin-bottom: 10px;
	margin-left: 30px;
}


/* main menu */
#mainmenu
{
	display: block;
	/*width: 900px;*/
	height: 35px;
	padding: 0px;
	margin-left: -100px;
	margin-right:auto;
	margin-top:-13px;
	min-width: 900px;
	position: absolute;
	left: 36%;
	z-index: 1;
}

#mainmenu li
{
	display: inline;
}

#mainmenu li a
{
	text-decoration: none;
	
}

#mainmenu li a plain
{
	display: inline-block;
	cursor: pointer;
	color: white;
	padding: 8px 22px;
	text-decoration: none;
	background: #6aa9bd;
}

#mainmenu li a:hover plain
{
	background-color: #6aa9bd;
	color: #333333;
	margin-top:-2px;
}

#mainmenu li plain
{
	font-family: sans-serif;
	font-size:1.1em;
	text-decoration: none;
	padding: 10px;
	background-color: #F5F5F5;
	color: black;
	border: solid #F5F5F5 1px;
}

/* my menu (user or admin menu) */
#mymenu
{
	width: 10%;
	display: block;
	margin-top: 21px;
	margin-left: -30px;
	margin-right: 30px;
	float: left;
	list-style-type: none;
}

#mymenu ul li
{
	font-family:sans-serif;
	font-size:1em;
	color:white;
	line-height:32px;
	list-style-type:none;
	text-indent:8px;
}

#mymenu ul li a plain
{
	border: solid, navy;
	display: block;
	text-decoration: none;
}

#mymenu li a plain
{
	border: solid #ffffff 1px;
	display: inline-block;
	cursor: pointer;
	color: white;
	padding: 8px 10px;
	text-decoration: none;
	background: #6aa8bd;
	font-family: sans-serif;
    font-size: 1em;
    
}

#mymenu li a:hover plain
{
	background-color: #6aa8bd;
	color:#333333;
	margin-bottom: -3px;
}

#mymenu li a
{
	text-decoration: none;
}

#mymenu plain
{
	width: 136px;

}

/**********************************************/
#mymenu ul li a plain2
{
	border: solid, navy;
	display: block;
	text-decoration: none;
}
#mymenu li a plain2
{
	
	border: solid #ffffff 1px;
	display: inline-block;
	cursor: pointer;
	color: white;
	padding: 8px 10px;
	text-decoration: none;	
	background: #6aa9bd;
	font-family: Arial;
    font-size: 1em;
	margin-left:10px;
	background-color: #0185b9;
	width: 126px;	

}
#mymenu li a:hover plain2
{
	background-color: #387ef9;
	color:#333333;
	margin-top:-2px;
	padding-bottom:10px;
}



/***************************************/

mainposition
{
	display: block;
	width: 84%;
	position: absolute;
	left: 12%;	
	margin-top: 50px;
	padding-top: 10px;
	padding-bottom: 100px;
	padding-left: 30px;
}


/* THIS IS SET SOMEWHERE FOR BEANDISPLAY

	background: none repeat scroll 0 0 #CCBE99;
    border: 2px outset black;
    display: block;
    font-family: "Trebuchet MS",Arial,sans-serif;
    padding: 2px;
    width: auto;
*/


DL.t-beandisplay
{
	float:none;
	background: white;
	border: none;
}


infoBallot
{
	display: block;
	background: white;
	margin-top: -15px;
	margin-left: -5px;
	margin-bottom: 10px;
	border: 1px solid;
	padding-bottom: 15px;
	width: 83%;
}

infoUser
{
	display: block;
	background: white;
	margin-top: 25px;
	margin-left: -3px;
	margin-bottom: 10px;
	border: 1px solid;
	padding-bottom: 4px;
	padding-right: 20px;
	width: 100%;
}

infoUser>h1
{
color:#333333;
}
#userDataZone, #changePassZone, #areuSureZone, #updateProfileZone{
	padding-left: 20px;
	padding-right: 20px;
}
notbeandisplay left
{
	/*display: block;*/
	clear: left;
	float: left;
	text-align: right;
	vertical-align: middle;
	width: 250px;
	margin-top: 0px;
}

left .whitetop
{
	border-top: solid white;
}

.bipbip
{
	background: pink;
}

.transitivos
{
	margin-left: 30px;
	
}

notbeandisplay right
{
	display: inline;
	margin-left: 5px;
}

loop
{
	display: block;
}

answers, participants
{
	display: block;
}

DIV.t-beaneditor
{
	display: block;
	background: white;
	margin-top: 20px;
	border: none;
	padding: 2px;
	font-family: "Trebuchet MS", Arial, sans-serif;
}

DIV.t-beaneditor LABEL
{
	width: 150px;
	display: block;
	float: left;
	text-align: right;
	clear: left;
	padding-right: 3px;
}


input.t-beaneditor-submit
{
	position: relative;
	left: 150px;
}

body, table, input, select
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
}

body
{
	display: block;
	width: 100%;
	float: right;
	margin-left:10 px;
	background-color: #F5F5F5;
}


h1
{
	margin-top: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20pt;
	font-weight: bold;
	color: rgb(32, 74, 135);}

h2
{
	color: #333333;
	margin-top: 10px;
	margin-bottom:-3px;
	text-align: center;
}

titleList
{
	padding-top:10px;
	margin-top: 10px;
	margin-right: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15pt;
	font-weight: bold;
}


form div
{
	display: block;
	padding: 2px;
	font-family: "Trebuchet MS", Arial, sans-serif;
}

form label
{
	width: 150px;
	display: block;
	float: left;
	text-align: right;
	clear: left;
	padding-right: 3px;
}

div .ballotsList
{
	margin-top: -5px;
	margin-bottom: 20px;
	background-color: #F5F5F5;
}

div .row
{
	background-color: white;
	margin-bottom: 7px;
	border-bottom: 2px solid #B91A1F;
	border-left: 2px solid #B91A1F;
}

div .indexRow
{
	text-align: center;
	display: block;
	background-color: white;
	min-height: 30px;
	width: 100%;
	margin-bottom: 10px;
	box-shadow: 0px 2px 2px #4b8ba4;
	padding-left:15px;
	padding-top:15px;
}

div .indexRow:hover
{
	background-color: rgba(45, 0, 255, 0.1);
}

.indexRow>span {
display: inline-block;
width: 20%;
color: black;
}

div .indexHead
{
	display: block;
	text-align: center;
	margin-bottom: 4px;
	margin-top: -15px;
    padding-left: 15px;
	
}
div .indexHead>span
{
display: inline-block;
width: 20%;
color: #204A9F;	
}

div .row span
{
	display:inline-block;
	width: 18%;
	padding: 15px;
}

#personsTable
{
	width: 100%;
	margin-right:30px;
	text-align:center;
}


.tst
{
	width: 100%;
	height	: 100%;
	border-collapse:collapse;
}

.tstmail
{
	width: 8%;	
}

.tstbuttons
{
	width: 92%;	
}

.tst tr td
{
	border: 1px solid #00FF00;
}

div.outtst div.t-zone
{
	
	height: 30px;
}

#CreateCensusDiv>h1
{
	color:#333333;
	margin-left:0px;
}
#CreateCensusDiv>h2
{
	color:#333333;
	margin-left:0px;
}
#CreateCensusDiv>h3
{
	color:#333333;
	margin-left:0px;
}


#CreateCensusDiv label
{
	width:initial;	
}

#CreateballotDiv>h1
{
	color:#333333;
	margin-left:0px;
}
#CreateballotDiv>h4
{
	color:#333333;
	margin-left:0px;
}


#CreateballotDiv label
{
	width:initial;	
}

#CreateballotDiv #typeZone
{
	background-color:#F5F5F5;
}


#resultballotDiv table
{
	margin-top:25px;
	border-collapse:collapse;
	text-align:center;
	width:50%;
}

#resultballotDiv table td
{
	background-color:lightblue;
	padding:10px;
}

#resultballotDiv #chart_div
{
	border: 1px solid;
	box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
	background-color: white;
}

#resultballotDiv h2
{
	text-align:left;
	margin-bottom:25px;
	margin-top:25px;
}

#resultballotDiv h1 
{
	color: #333333;
}
#showprofileDiv h1
{
	color: #333333;
}

#ballotlistDiv h1
{
	color: #333333;
}
hr
{
	margin-bottom:25px;
}
#censuslistDiv h1
{
	color: #333333;
}
#userlistDiv h1
{
	color:#333333; 
}
#companyDiv h1
{
	color:#333333; 
}
#adminmailDiv h1
{
	color:#333333;	
}
#contactDiv h1
{
	color:#333333;	
}
#contactDiv{
	padding-right: 30px;
}

#indexDiv h1 
{
	color:#333333;	
}
#indexDiv h3 
{
	color:#333333;	
	padding-bottom: 15px;
	padding-top: 15px;
}

#addToBallotDiv h1
{
	color:#333333;	
}
#addToBallotDiv h2
{
	color:#333333;	
}
#addToBallotDiv h3
{
	color:#333333;	
}
#voteDiv h1
{
	margin-left:0px;
	color:#333333;	
}
#voteDiv h2
{
	color:#333333;	
}
#voteDiv h3
{
	color:#333333;	
}
div#showProfile h1 
{
	color:#333333;
}
div#showProfile img
{
	float: right;
	margin-top: -22px;
	margin-right: 6px
}
.boton, .t-beaneditor-submit{
	border-radius: 8px;
	border: solid #ffffff 1px;
	display: inline-block;
	cursor: pointer;
	color: white;
	font-weight: bold;
	padding: 8px 10px;
	text-decoration: none;
	text-shadow: rgb(61, 118, 138) 0px 1px 0px;
	background: linear-gradient(#729fcf 10%, rgb(22, 109, 122) 100%) rgb(115, 218, 255);
	font-family: Arial;
    font-size: 11px;
}

.boton:hover, .t-beaneditor-submit:hover
{
	background-color: #09c0e2;
	color: black;
	margin-top:-2px;
	padding-bottom:10px;
	border: solid #333333 1px;
}

.boton:active, .t-beaneditor-submit:active{
	position:relative;
}
button{
	border: solid #ffffff 1px;
	display: inline-block;
	cursor: pointer;
	color: white;
	font-weight: bold;
	padding: 8px 10px;
	text-decoration: none;
	background: linear-gradient(#729fcf 10%, rgb(22, 109, 122) 100%) rgb(115, 218, 255);
	font-family: Arial;
    font-size: 11px;
}

button:hover
{
	background-color: #09c0e2;
	color: black;
	margin-top:-2px;
	padding-bottom:10px;
	border: solid #333333 1px;
}

button:active {
	position:relative;
}	
.editar{
	position: absolute;
}
#cambioPass{
	height: 30px;
}
#searchZone a, #mostrarVotaciones a, #searchTypeZone a, #showUsers a{
	color: rgb(32, 74, 135);
	text-decoration: underline;
	font-size: 14pt;
	
}
#searchZone, #gridZone, #areuSureZone{
	margin-left: 20px;
	margin-right:20px;
	width: 1050px;
}
#ballotlistDiv{
	width:95%;
	margin-left: 20px;
}
#methodDiv{
	width: 100%;
}
#indexDiv{
	width:100%;
}
#adminAboutUs, #adminMailZone{
	margin-left:20px;
	margin-bottom: 5px;
}
.descripcionMetodo{
	text-align:justify;
	padding-right: 30px;
	font-size:11pt;
}

#nextMethod{
	text-align: right;
	padding-right: 35px;
	font-size: 12pt;
}
#previousMethod{
	text-align: left;
	font-size: 12pt;
}
#kaptcha{
	margin-left:150px;
}

#KaptchaField{
	width:100px;
}

#methodsList{
	list-style-type:none;
	margin-left: -20px;
}
#methodsList a{
	text-decoration: none;
	color: black;
}
#methodsList li{
	padding-bottom: 5px;
	list-style-position: outside;
	
}